/* public-sans-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/public-sans-v15-latin-100.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* public-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/public-sans-v15-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
  --nav-color:rgb(149, 151, 165);
  --btn-bg: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  --btn-color: #FFFFFF;
  --header-bg:#FFFFFF;
  --moon-color:white;
  --hamburger-color:black;
}

.mode {
  --nav-color:white;
  --btn-color:rgb(5, 5, 5);
  --btn-color:#333;
  --moon-color:#333;
  --header-bg:black;
  --hamburger-color:white;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Public Sans" sans-serif;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-header {
  padding: 18px 0;
  background: var(--header-bg);
  position: relative;
  z-index: 9999;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-top__link {
  display: inline-block;
}

.navbar__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__item + .navbar__item {
  margin-left: 30px;
}

.navbar__link {
  color: var(--nav-color);
  font-size: 14px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: -0.11px;
}
.navbar__link:hover {
  border-bottom: 5px solid linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  transition: 0.3s;
  padding-bottom: 30px;
}

.header-top__mode-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.header-top__hamburger-btn {
  display: block;
}

.header-top__request-btn {
  width: 163px;
  padding: 8px 0;
  border-radius: 22px;
  background: var(--btn-bg);
  color: var(--btn-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  border: none;
  cursor: pointer;
}
.header-top__request-btn:hover {
  opacity: 0.4;
}

.header-top__mode-btn {
  padding: 5px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: var(--btn-bg);
  border: none;
  color: var(--moon-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.header-top__hamburger-btn {
  background: rebeccapurple;
  border: none;
  background: transparent;
}

@media (max-width: 763px) {
  .site-header {
    padding: 22px 0;
  }
  .header-top__navbar, .header-top__request-btn {
    display: none;
  }
  .header-top__hamburger-btn {
    display: block;
  }
}
.hero-section {
  padding: 331px 0 50px;
  background-image: url(/images/hero-img2.png);
  background-repeat: no-repeat;
  background-position: top -5px right -30px;
}

.hero-img {
  position: absolute;
  top: -147px;
  right: 0;
  z-index: 2;
}

.hero__text-wrapper {
  align-items: center;
  margin-top: -112px;
  width: 415px;
}

.wrapper__title {
  color: rgb(45, 49, 77);
  font-family: "Public Sans";
  font-size: 56px;
  font-weight: 100;
  line-height: 64px;
  letter-spacing: -1px;
  margin-bottom: 24px;
}

.wrapper__text {
  color: rgb(149, 151, 165);
  font-family: "PublicSans";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.28px;
  margin-bottom: 36px;
}

.hero-img-mobile {
  display: none;
}

.wrapper__btn {
  width: 163px;
  padding: 8px 0;
  border-radius: 22px;
  background: var(--btn-bg);
  color: var(--btn-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  border: none;
  cursor: pointer;
}
.wrapper__btn:hover {
  opacity: 0.4;
}

@media (max-width: 763px) {
  .hero-section {
    padding: 380px 0 88px;
    background-image: none;
  }
  .hero-img {
    top: -60px;
    left: 0;
    right: 0;
    width: 100%;
  }
  .hero__text-wrapper {
    margin-top: 120px;
    text-align: center;
    width: 100%;
    font-size: 40px;
  }
  .hero__text-wrapper h2 {
    margin-bottom: 16px;
  }
  .hero__text-wrapper p {
    margin-bottom: 32px;
    margin-bottom: 15px;
    text-align: center;
  }
}
.two-section {
  position: relative;
  background: rgb(244, 245, 247);
  padding: 80px 0 94px;
  z-index: 1;
}

.content {
  max-width: 635px;
  margin-bottom: 72px;
}

.content__title {
  color: rgb(45, 49, 77);
  font-family: Public Sans;
  font-size: 40px;
  font-weight: 100;
  line-height: 64px;
  letter-spacing: -0.71px;
  margin-bottom: 16px;
}

.content__text {
  color: rgb(149, 151, 165);
  font-family: PublicSans;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.28px;
}

.twolist {
  display: flex;
  gap: 106px;
}

.twolist__item {
  max-width: 255px;
  flex-direction: column;
  display: flex;
}

.twolist__item-img {
  margin-bottom: 40px;
}

.twolist__item-title {
  color: rgb(45, 49, 77);
  font-family: Public Sans;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  letter-spacing: -0.43px;
  margin-bottom: 26px;
}

.twolist__item-text {
  color: rgb(149, 151, 165);
  font-family: PublicSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.25px;
}

@media (max-width: 763px) {
  .ul-list {
    margin: 0 auto;
  }
  .content {
    text-align: center;
    margin-bottom: 56px;
  }
  .twolist {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .twolist__item-img {
    margin: 0 auto;
    margin-bottom: 24px;
  }
}
.latest-section {
  padding: 80px 0;
  background: rgb(250, 250, 250);
}

.latest__title {
  color: rgb(45, 49, 77);
  font-family: Public Sans;
  font-size: 40px;
  font-weight: 100;
  line-height: 64px;
  letter-spacing: -0.71px;
  margin-bottom: 40px;
}

.latest__title:hover {
  color: #30C88F;
  cursor: pointer;
}

.card {
  display: flex;
  gap: 30px;
}

.box {
  border-radius: 5px;
  background-color: #ffffff;
}

.box-item {
  width: 224px;
  padding: 24px;
}

.box-item-strong {
  color: rgb(149, 151, 165);
  font-family: PublicSans;
  font-size: 10px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.16px;
  margin-bottom: 8px;
}

.box-item__title {
  margin-top: 8px;
  color: rgb(45, 49, 77);
  font-family: Public Sans;
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: -0.29px;
  margin-bottom: 8px;
}

.box-item__text {
  color: rgb(149, 151, 165);
  font-family: PublicSans;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.2px;
}

@media (max-width: 763px) {
  .latest__title {
    text-align: center;
  }
  .card {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .box {
    border-radius: 5px;
    background-color: #ffffff;
  }
  .box__img {
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .box-item {
    width: 327px;
    padding: 31px;
  }
}
.site-footer {
  background: rgb(45, 49, 77);
  padding: 48px 0;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-footer__img {
  margin-bottom: 55px;
}

.content-footer__icons {
  gap: 15px;
}

.content-footer__icons:hover {
  color: #30C88F;
}

.links__link {
  color: rgb(255, 255, 255);
  font-family: PublicSans;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.23px;
}

.links__link:hover {
  color: #30C88F;
}

.ul__link {
  color: rgb(255, 255, 255);
  font-family: PublicSans;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.23px;
}

.ul__link:hover {
  color: #30C88F;
}

.footer-wrapper__btn {
  width: 163px;
  padding: 8px 0;
  border-radius: 22px;
  background: var(--btn-bg);
  color: var(--btn-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  border: none;
  cursor: pointer;
  margin-bottom: 24px;
}
.footer-wrapper__btn:hover {
  opacity: 0.4;
}

.footer-wrapper__text {
  color: rgb(255, 255, 255);
  font-family: PublicSans;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.23px;
  opacity: 0.5;
}

@media (max-width: 763px) {
  .footer-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
  }
  .content-footer__img {
    margin-bottom: 32px;
  }
  .ikons {
    margin-bottom: 32px;
  }
  .ul {
    margin-bottom: 32px;
    margin: 0;
  }
  .footer-wrapper__btn {
    margin-top: 32px;
  }
}/*# sourceMappingURL=main.css.map */